.how-it-works-outer-container {
  overflow: hidden;
  background: rgb(224, 237, 255);
  background: linear-gradient(180deg, rgb(224, 237, 255) 44%, rgb(235, 113, 76) 100%);
}

.how-it-works_container {
  max-width: 120rem;
  margin: 0 auto;
}

.three-column-grid {
  display: grid;
  grid-template-columns: 1fr 20rem 1fr;
}
@media screen and (max-width: 1180px) {
  .three-column-grid {
    padding: 3rem;
  }
}
@media screen and (max-width: 780px) {
  .three-column-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 670px) {
  .three-column-grid {
    grid-template-columns: 1fr;
  }
}

.first-step,
.second-step,
.third-step {
  height: 50vh;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 1200px), screen and (min-height: 1000px) {
  .first-step,
.second-step,
.third-step {
    height: auto;
  }
}
.first-step_left,
.second-step_left,
.third-step_left {
  position: relative;
}
.first-step_left img,
.second-step_left img,
.third-step_left img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 1200px), screen and (min-height: 1000px) {
  .first-step_left img,
.second-step_left img,
.third-step_left img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.first-step_middle,
.second-step_middle,
.third-step_middle {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 780px) {
  .first-step_middle,
.second-step_middle,
.third-step_middle {
    position: absolute;
    left: 2rem;
  }
}
.first-step_middle--header,
.second-step_middle--header,
.third-step_middle--header {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2.4rem;
  color: var(--color-btn-primary);
  background-color: var(--color-primary-hover);
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  border-radius: 3rem 0rem 3rem 0rem;
  color: white;
  box-shadow: 5px 5px 8px 0px #000000;
}
.first-step_middle--header .step-num,
.second-step_middle--header .step-num,
.third-step_middle--header .step-num {
  color: var(--color-btn-primary);
  font-weight: 900;
}

.first-step_right {
  position: relative;
  display: flex;
  align-items: center;
}
.first-step_right::after {
  content: "";
  width: 20rem;
  height: 20rem;
  border: 5px dotted var(--color-btn-primary);
  position: absolute;
  left: 20%;
  top: 15%;
}
@media screen and (max-width: 780px) {
  .first-step_right::after {
    display: none;
  }
}
.first-step_right::before {
  content: "";
  width: 20rem;
  height: 20rem;
  border: 5px dotted var(--color-btn-primary);
  position: absolute;
  left: 25%;
  top: 20%;
}
@media screen and (max-width: 780px) {
  .first-step_right::before {
    display: none;
  }
}

.second-step {
  width: 100%;
  margin-top: 7rem;
}
@media screen and (max-width: 1200px) {
  .second-step {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 670px) {
  .second-step {
    display: flex;
    flex-direction: column;
  }
}
.second-step_middle--header {
  background-color: var(--color-primary-hover);
  color: white;
}
.second-step_right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.second-step_right img {
  width: 80%;
  height: 80%;
}
@media screen and (max-width: 670px) {
  .second-step_right img {
    margin-top: 10rem;
  }
}
.second-step_left {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 670px) {
  .second-step_left {
    order: 1;
    margin-top: 5rem;
  }
}

.third-step {
  margin-top: 7rem;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .third-step {
    margin-top: 2rem;
  }
}
.third-step_left {
  display: flex;
  justify-content: center;
}
.third-step_left img {
  height: 95%;
}
.third-step_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.third-step_right img {
  position: absolute;
  z-index: 99;
  transform: translate(-8%, -64%);
}
@media screen and (max-width: 1050px) {
  .third-step_right img {
    transform: translate(-8%, -44%);
  }
}
.third-step_right .shout {
  transform: translate(-10%, -70%);
}

.small-circle {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  background-color: var(--color-btn-primary-light);
  margin-bottom: 2rem;
  box-shadow: 3px 3px 8px 0px #000000;
}
@media screen and (max-width: 780px) {
  .small-circle {
    display: none;
  }
}

.accepted {
  display: flex;
  justify-content: center;
}

.cloud {
  margin-top: 7rem;
  width: auto;
  height: auto;
  background: white;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 3rem;
  font-size: 1.4rem;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 670px) {
  .cloud {
    margin-top: 0rem;
    border-radius: 8px;
    font-size: 1.7rem;
  }
}
.cloud h2 {
  margin-bottom: 0.9rem;
  text-align: center;
}
@media screen and (max-width: 670px) {
  .cloud h2 {
    order: 1;
    font-size: 3rem;
  }
}

.speech-bubble {
  position: absolute;
  background: white;
  border-radius: 1rem;
  width: auto;
  height: auto;
  padding: 3rem 3rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  color: var(--color-primary-hover);
  top: 20%;
  right: 10%;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-left-color: white;
  border-right: 0;
  border-bottom: 0;
  margin-top: -25px;
  margin-right: -50px;
}

.upload-header {
  display: none;
}
@media screen and (max-width: 670px) {
  .upload-header {
    display: block;
  }
}

@media screen and (max-width: 780px) {
  .shout {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .accepted img {
    width: 90%;
  }
}/*# sourceMappingURL=howItWorks.css.map */