.signIn-container {
	background-color: var(--color-primary);
	height: calc(100vh - 6rem);
	background: rgb(224, 237, 255);
	background: linear-gradient(
		180deg,
		rgba(224, 237, 255, 1) 44%,
		rgba(235, 113, 76, 1) 100%
	);
	display: flex;
	align-items: center;
	justify-content: center;
}
