.navbar-container {
	background-color: var(--color-primary);
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar {
	color: #fff;
	display: flex;
	height: 6rem;
	align-items: center;
	font-size: 1.8rem;
	padding-right: 2rem;
	max-width: 120rem;
	margin: 0 auto;
	position: sticky;
	top: 0;
	z-index: 9999999;
	@media screen and (max-width: 780px) {
		height: 8rem;
	}
	&_list {
		margin-left: auto;
		display: flex;
		gap: 3rem;

		@media screen and (max-width: 1150px) {
			gap: 2rem;
		}
		@media screen and (max-width: 1050px) {
			gap: 1rem;
		}
		@media screen and (max-width: 780px) {
			position: relative;
			flex-direction: column;
			position: fixed;
			right: -70%;
			top: -8px;
			transition: all 0.3s;
			height: calc(100% + 8px);
			width: 80%;
			align-items: center;
		}
		@media screen and (max-width: 600px) {
			right: -68%;
			font-size: 2rem;
		}
		@media screen and (max-width: 600px) {
			right: -68%;
		}
		@media screen and (max-width: 530px) {
			right: -66.5%;
		}
		@media screen and (max-width: 500px) {
			right: -65%;
		}
		@media screen and (max-width: 430px) {
			right: -63%;
		}
		@media screen and (max-width: 380px) {
			right: -61%;
		}
		&--item {
			list-style-type: none;
			margin-left: 2rem;
			transition: all 0.3s;
			padding: 0.65rem 1.3rem;
			border-radius: 3rem 0rem 3rem 0rem;
			position: relative;
			@media screen and (max-width: 780px) {
				margin-top: 5vh;
				margin-left: 0rem;
			}

			&:last-child {
				margin-left: 10rem;
				@media screen and (max-width: 1150px) {
					margin-left: 5rem;
				}
				@media screen and (max-width: 1050px) {
					margin-left: 2.5rem;
				}
				@media screen and (max-width: 780px) {
					margin-top: 5vh;
					margin-left: 0rem;
				}
			}
			&:hover {
				background-color: var(--color-primary);
			}
			&:hover .navbar_link {
				color: var(--color-primary-dark);
			}
		}
	}

	&_link {
		color: #fff;
		text-decoration: none;

		&-dropdown {
			display: block;
			padding: 1.1rem 1.3rem;
			text-decoration: none;
			color: var(--color-primary-dark);
			background-color: var(--color-primary);
			font-size: 1.6rem;

			&:hover {
				opacity: 0.8;
				background-color: var(--color-primary-hover);
				color: #fff;
			}
		}

		&-dropdown.text-small {
			font-size: 0.3rem;
		}
	}
}

// .navbar.open {
// 	display: none;
// }

.logo {
	margin-right: 4rem;
	@media screen and (max-width: 1050px) {
		margin-right: 2rem;
	}
}

.how-it-works:hover .dropdown {
	display: block;
	height: 230%;
	transition: all 0.3s;
}

.how-it-works:hover {
	border-radius: 3rem 0rem 0rem 0rem;
	color: var(--color-primary-dark);
	cursor: default;
}

.dropdown {
	border-radius: 0rem 0rem 3rem 0rem;
}

.dropdown {
	position: absolute;
	height: 0%;
	overflow: hidden;
	background-color: white;

	width: 100%;
	left: 0;
}
.navbar-container {
	width: 100%;
	background-color: var(--color-primary-dark);
}

// HAMBURGER MENU

.hamburger-menu {
	width: 6rem;
	height: 6rem;
	z-index: 999999999;
	position: absolute;
	top: 2rem;
	left: 1rem;
	cursor: pointer;
	display: none;

	@media only screen and (max-width: 780px) {
		display: unset;
	}

	& .line {
		width: 100%;
		height: 0.5rem;
		background-color: #fff;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 20px;

		&::before,
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 0.5rem;
			background-color: #fff;
			border-radius: 20px;
		}

		&:before {
			transform: translateY(-1.5rem);
			transition: all 0.4s;
		}
		&:after {
			transform: translateY(1rem);
		}
	}
}

.navbar_list.open {
	@media only screen and (max-width: 780px) {
		position: fixed;

		transform: translateX(-75%);
		background-color: var(--color-primary-dark);
	}
}

.hamburger-menu.open {
	width: 5rem;
	height: 5rem;
	z-index: 999999999;
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
	display: none;

	@media only screen and (max-width: 780px) {
		display: unset;
	}

	& .line {
		width: 100%;
		height: 0.5rem;
		background-color: #fff;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotate(42deg);
		border-radius: 20px;

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 0.5rem;
			background-color: #fff;
			border-radius: 20px;
			opacity: 1;
		}

		&:before {
			transform: translateY(0rem) rotate(95deg);
		}
		&:after {
			display: none;
		}
	}
}
